* {
    margin:0;
    padding:0;
}
p{
    font-family: monospace;
    font-size: x-large;
    height: fit-content;
    padding-left: 10%;
    padding-top:20px;

}
p::before{
    content: "\2219"; 
}
.main-container{
    display: grid;
    grid-template-columns: 40% auto;
    background-color: #ffffff;
    padding-right: 2%;
}
img{
    width: 50%;
    padding: 20px;
    padding-left: 8%;

}
#id2{
    width: 100%;
}
#id1{
    height: 80vh;
    width:40vw;
}
iframe{
    padding-left: 30%;
    width: 40%;

}
@media only screen and (max-width: 576px) { 
    .main-container{ grid-template-columns: auto;}
    #id1{width:100%;}
  }
